.contactContainer{
    padding-top: 15rem;
}

.container {
    display: flex;
    align-items:flex-start;
    gap: 5rem;
}

.cards {
    width: 100%;
    flex: 1;
}

.details {
    flex: 1;
}

.details h2{
    text-transform: uppercase;
    color: var(--color3);
    font-family: "Angled";
    font-size: 5rem;
    text-align: center;
    position: relative;
    top: -1.5rem;
}

.details p {
    color: var(--color3);
    margin-bottom: 3rem;
    position: relative;
    top: -2rem;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: justify;
    hyphens: auto;
    hyphens: auto;
}

.btnContainer {
    position: relative;
    top: -2rem
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
    }

}