.footerContainer {
    margin-top: 15rem;
    border-top: 4mm double var(--color1);
}

.footerContent {
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    gap: 3rem;
    color: var(--color3);
    margin-bottom: 2rem;
    border-bottom: 4mm double var(--color1);
}

.aboutContent {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
    width: 45%;
}

.footerSub {
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

.footerSub ul li a {
    font-size: 1.3rem;
}

.aboutContent p {
    text-align: justify;
    hyphens: auto;
    font-size: 1.3rem;
}

.aboutIcons {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.aboutIcons .icon {
    margin-right: 1.5rem;
    font-size: 3rem;
    cursor: pointer; 
    transition: all 0.3s ease-in-out   
}

.aboutIcons .icon:hover {
    color: var(--color1)
}

.btnContainer {
    margin-top: 3rem;
}

.footerItems {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 45%;
}


.linksContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}


.linksContent ul li{
    list-style: none;
    text-align: left;
    cursor: pointer;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    transition: all 0.3s ease-in-out;
}
.linksContent ul li:hover {
    color: var(--color1);
}


.footerCopyRight {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color3);
}


@media screen and (max-width: 768px) {
    .footerContent {
        flex-direction: column;
    }
    .aboutContent {
        width: 100%;
    }

    .footerItems {
        gap: 5rem;
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .footerSub {
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 320px) {
    .footerItems {
        gap: 2.5rem;
    }
}